<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
<a class="navbar-brand"><%= image_tag('pokemon-pikachu-pixel-animated-cursor-6-32x32.png', alt: 'Logo', style: 'max-width: 100px; max-height: 50px;')%></a>
  <div class="container-fluid">
  <%= link_to "Books & more", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto nav-fill">
      <% if user_signed_in? %>
      <li class="nav-item">
      <%= link_to "Create article", new_article_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <button type="button" class="btn btn-floating" data-mdb-ripple-color="light">
        <%= link_to "Edit profile", edit_user_registration_path, class: "nav-link" %>
      </button>
    </li>
        <li class="nav-item">
        <button type="button" class="btn btn-floating" data-mdb-ripple-color="light">
          <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
          </button>
          </li>
      <% else %>
        <li class="nav-item">
          <button type="button" class="btn btn-floating" data-mdb-ripple-color="light">
            <%= link_to "Log in", new_user_session_path, class: "nav-link" %>
          </button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-floating" data-mdb-ripple-color="light">
            <%= link_to "Register", new_user_registration_path, class: "nav-link" %>
          </button>
        </li>
      <% end %>
    </ul>
  </div>
</nav>